.component {
  margin: 20px;
  padding: 10px;
  border: 2px solid grey;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  div {
    width: calc(99%/3);

    img {
      width: 100%;
    }
  }
}